@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
/* end of letters */

/* custom */
header > p[epub|type~="dedication"]{
        display: inline-block;
        max-width: 80%;
        text-align: initial;
}

header [epub|type~="z3998:signature"]{
        text-align: right;
}

#dedication-2 header p{
	font-style: italic;
}
/* end of custom */